
<h1 align="center">Writing a Post</h1>
        <div class="well container">
            <form method="POST" action="/post/new">
                    <label>Please write a fancy and fun post !!</label>
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Content" name="content"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        
<% @read_post.each do |p| %>
    <div class="well container">
        <h4>Title: </h4> <p> <%= p.title %></p>
        <h4>Content: </h4> <p> <%= p.content %></p><a href="post/delete/<%= p.id %>"> [Delete]</a>
        or <a href="post/find_update_post/<%= p.id %>"> [Update]</a>
    </div>
<% end %>