    
    <h1 align="center">Writing a Post</h1>
            <div class="well container">
                <form method="POST" action="/post/new">
                        <label>Please write a fancy and fun post !!</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Content" name="content"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            
    <% @read_post.each do |p| %>
        <div class="well container">
            <div class="titleAndIcons">
                <h4> <%= p.title %></h4>
                <div class="icons">
                    <a href="post/delete/<%= p.id %>"><i class="fa fa-trash-o" aria-hidden="true" style="font-size: 30px"></i></a>
                    <a href="post/find_update_post/<%= p.id %>"> <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 30px"></i> </a>
                </div>
            </div>
            <h5> <%= p.content %></h5>
            
        </div>
    <% end %>