// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h4 {
    text-transform: uppercase;
    font-weight: 700;
}
.titleAndIcons {
    display: flex;
    justify-content: space-between;
}